html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.whole{
    height: 45vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.image1{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
#navigation{
    position: absolute;
    right: 10px;
}
.col ul{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
a.nav-link{
    color: black;
}
a.active{
    color: #D35711;
}
.intro{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;  
}
.intro img{
    width: 100px;
    height: 105px;
}
.intro h2{
    color: #D35711;
    text-shadow: 1px 1px black;
}
.mybody{
    /* height: 70vh; */
    background-color: #121129;
}
footer{
    height: 4vh;
    text-align: center;
    background-color: aliceblue;
}
.myend{
    height: 4vh;
    background-color: #121129;
}
.fa{
    color: #D35711;
    margin-right: 10px;
}
.aboutme{
    width: 70%;
    margin: auto;
    text-align: center;
    color: white;
}
.aboutme h2{
    color: #D35711;
}
.row{
    text-align: center;
}
.projects h2{
    color: #D35711;
}
.mylist {
    display: flex;
}
#more {display: none;}