html, body {
    max-width: 100%;
    overflow-x: hidden;
    /* margin: 5px; */
}
.image1{
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0.5;
    height: 45vh;

}
nav{
    float: right;
    
}
a.nav-link{
    color: black;
}
a.active{
    color: #D35711;
}
.intro{
    text-align: center;
}
.intro img{
    width: 100px;
    height: 100px;
}
.intro h2{
    color: #D35711;
    text-shadow: 1px 1px black;
}
.mybody{
    height: 48vh;
    background-color: #121129;
}
footer{
    height: 6vh;
    text-align: center;
}
.myend{
    height: 4vh;
    background-color: #121129;
}
.fa{
    color: #D35711;
    margin-right: 10px;
}
.aboutme{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
}
.aboutme h2{
    color: #D35711;
}